!include ../rpl_1slave_base.cnf
!include include/default_client.cnf

[mysqld.1]
log-bin
binlog-format = row
gtid-mode=on
enforce-gtid-consistency

[mysqld.2]
log-bin
binlog-format = row
gtid-mode=on
enforce-gtid-consistency

[mysqld.3]
log-bin
binlog-format = mixed
gtid-mode=on
enforce-gtid-consistency
log-slave-updates
duckdb_multi_trx_in_batch=on
force_innodb_to_duckdb = on
duckdb_mode = ON
duckdb_log_options = 'DUCKDB_MULTI_TRX_BATCH_COMMIT,DUCKDB_MULTI_TRX_BATCH_DETAIL,DUCKDB_QUERY,DUCKDB_QUERY_RESULT'

[mysqld.4]
log-bin
binlog-format = mixed
gtid-mode=on
enforce-gtid-consistency
log-slave-updates
duckdb_multi_trx_in_batch=on
force_innodb_to_duckdb = on
duckdb_mode = ON
duckdb_log_options = 'DUCKDB_MULTI_TRX_BATCH_COMMIT,DUCKDB_MULTI_TRX_BATCH_DETAIL,DUCKDB_QUERY,DUCKDB_QUERY_RESULT'

[ENV]
SERVER_MYPORT_3=		@mysqld.3.port
SERVER_MYSOCK_3=		@mysqld.3.socket
SERVER_MYPORT_4=		@mysqld.4.port
SERVER_MYSOCK_4=		@mysqld.4.socket
