!include suite/duckdb_rpl/my.cnf
[mysqld.1]
duckdb-mode = none
[mysqld.2]
duckdb-mode = none
duckdb-require-primary-key = off

[mysqld.3]
duckdb-mode = none
duckdb-require-primary-key = off
gtid-mode = on
enforce-gtid-consistency = on
log-slave-updates = on

[ENV]
SERVER_MYPORT_3=		@mysqld.3.port
SERVER_MYSOCK_3=		@mysqld.3.socket

