# Use settings from rpl_1slave_base.cnf
# add setting to connect the slave to the master by default
!include rpl_1slave_base.cnf
!include include/default_client.cnf
[mysqld]
duckdb_mode=ON


[mysqld.1]
binlog-format = mixed
gtid-mode=on
enforce-gtid-consistency
log-slave-updates
duckdb_log_options = 'DUCKDB_MULTI_TRX_BATCH_COMMIT,DUCKDB_MULTI_TRX_BATCH_DETAIL,DUCKDB_QUERY,DUCKDB_QUERY_RESULT'

[mysqld.2]
binlog-format = mixed
gtid-mode=on
enforce-gtid-consistency
log-slave-updates
duckdb_log_options = 'DUCKDB_MULTI_TRX_BATCH_COMMIT,DUCKDB_MULTI_TRX_BATCH_DETAIL,DUCKDB_QUERY,DUCKDB_QUERY_RESULT'
